@page "/about"

<h1>About</h1>

<p>Commission Manager keeps track of commission and YCH transactions. The information can later be exported as a CSV
    into databases or modified externally from a spreadsheet program.</p>