@page "/transactions"

@inject TransactionService TransactionService

<h1>Transactions</h1>

@if (transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Price</th>
            <th>Buyer</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.PurchaseDate.ToShortDateString()</td>
                    <td>$@transaction.Price</td>
                    <td>@transaction.Buyer</td>
                    <td>@transaction.Type</td>
                    <td>@transaction.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

<p>Revnue: $@Revnue</p>

@code {
    Transaction[] transactions;
    int Revnue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        transactions = await TransactionService.GetTransactionsAsync();

        foreach (var transaction in transactions)
        {
            Revnue += transaction.Price;
        }

    }
}
