@inherits LayoutComponentBase

<div class="page  @(_darkMode ? "bg-dark text-white alert-dark link-light btn-light table-light navbar-dark" : "")">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="about">
                About
            </NavLink>
            <ThemeToggle OnDarkModeToggled="@HandleDarkModeToggled" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    bool _darkMode = false;

    void HandleDarkModeToggled(bool isDarkMode)
    {
        _darkMode = isDarkMode;
    }
}