<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Commisions</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adopts">
                <span class="oi oi-heart" aria-hidden="true"></span> Adopts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ych">
                <span class="oi oi-person" aria-hidden="true"></span> YCHs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="commissions">
                <span class="oi oi-dollar" aria-hidden="true"></span> Commissions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    bool _darkMode = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void HandleDarkModeToogled(bool isDarkMode)
    {
        _darkMode = isDarkMode;
    }
}
